@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;900&family=Poppins:wght@100;200;300;400;600;900&display=swap'); 

/*CSS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  display: none;
}

/*VARIABLES*/
$c0: black;
$c1: #012113;
$c2: #222725cf;
$c3: #899878;
$c4: #E4E6C3;
$c5: #F7F7F2;
$font1: 'Noto Serif KR', serif;
$font2: 'Poppins', sans-serif;

.container-general {
  .container-navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    position: sticky;
    top: 0;
    
    .logo-site {
      #logo-company {
        width: 7em;
      }
    }
    
    .container-menu {
      display: flex;
      flex-direction: column;
      text-align: end;
      align-self: center;
      
      #open-menu {
        color: $c0;
        font-size: 1.2em;
        text-transform: uppercase;
        font-family: $font2;
        cursor: pointer;
      }
      
      .menu {
        #close-menu {
          color: $c2;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2em;
          font-family: $font2;
          cursor: pointer;
        }
        
        #modes {}
        
        nav {
          #menu-options {
            .links {
              a {
                color: $c1;
                text-transform: uppercase;
                font-family: $font2;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
  
  .container-hero-section {
    min-height: 84.7vh;
    // border: 3px solid orange;
    .container-texts {
      .text-one {}
      
      .text-two {
        padding: 2em 2em 0 2em;
        font-family: $font2;
        font-weight: 300;
        margin-bottom: 1.1em;
        text-transform: capitalize;
        width: 19em;

        span {
          font-style: italic;
          font-weight: 400;
        }
      }
    }
    
    .arch-simplorium-one {
      background-image: url("/Simplorium/assets/images/Hannah-Reding-1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 60vh;
    }
  }
  
  .container-about {
    min-height: 100vh;
    padding: 1.5em;
    
    .container-about-enclousure {
      // border: 3px solid khaki;
      line-height: 1.9em;
      .title-about {
        font-family: $font1;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: .4em;
      }

      .line {
        position: relative;
        padding-bottom: 1.5em;
        &::before {
          position: absolute;
          content: "";
          border: .01em solid $c0;
          width: 4em;
        }
      }

      .block-text-about {
        font-family: $font2;
        span {
          font-style: italic;
        }
      }
    }
  }

  .container-services {
    .container-services-enclousure {
      .title-service {}

      .container-specific-service {
        .topic-one {
          span {}
        }

        .small-explain-text {}

        .flex-image-1 {
          .service-photo-one {}
        }
        
        .topic-two {
          span {}
        }

        .small-explain-text {}

        .flex-image-2 {
          .service-photo-two {}
        }

        .topic-three {
          span {}
        }

        .small-explain-text {}

        .flex-image-3 {
          .service-photo-three {}
        }
      }
    }
  }

  .container-our-team {
    .container-our-team-enclousure {
      .container-text-team {
        .title-team {}
        .text-team {}
      }

      .container-team {
        .container-info-team {
          .profile-pic {}
          .container-info-person {
            .name {}
            .ocuppation {}
          }
        }
      }
    }
  }

  .container-footer {
    footer {
      .container-footer-enclousure {
        .container-text-footer {
          .title-footer {}
          .question-text-footer {}
        }

        form {
          .title-forms {}

          #name {}
          #phone {}
          #email {}
          #button {}
        }
      }

      .container-footer-links {
        .container-footer-links {
          .container-logo-footer {
            .logo-company {}
          }

          .container-links {
            .footer-links-1 {
              li {
                a {}
              }
            }

            .footer-links-2 {
              li {
                a {}
              }
            }

            .footer-links-3 {
              li {
                a {}
              }
            }
          }
        }
      }
    }
  }
}