@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;900&family=Poppins:wght@100;200;300;400;600;900&display=swap'); 

/*CSS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  display: none;
}

/*VARIABLES*/
$c0: black;
$c1: #012113;
$c2: #222725cf;
$c3: #899878;
$c4: #E4E6C3;
$c5: #F7F7F2;
$c6: #101010;
$font1: 'Noto Serif KR', serif;
$font2: 'Poppins', sans-serif;

.container-general {
  .container-navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    position: sticky;
    top: 0;
    
    .logo-site {
      #logo-company {
        width: 7em;
      }
    }
    
    .container-menu {
      display: flex;
      flex-direction: column;
      text-align: end;
      align-self: center;
      
      #open-menu {
        color: $c0;
        font-size: 1.2em;
        text-transform: uppercase;
        font-family: $font2;
        cursor: pointer;
      }
      
      .menu {
        #close-menu {
          color: $c2;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.2em;
          font-family: $font2;
          cursor: pointer;
        }
        
        #modes {}
        
        nav {
          #menu-options {
            .links {
              a {
                color: $c1;
                text-transform: uppercase;
                font-family: $font2;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
  
  .container-hero-section {
    min-height: 84.7vh;
    // border: 3px solid orange;
    .container-texts {
      .text-one {}
      
      .text-two {
        padding: 2em 2em 0 2em;
        font-family: $font2;
        font-weight: 300;
        margin-bottom: 1.1em;
        text-transform: capitalize;
        width: 19em;

        span {
          font-style: italic;
          font-weight: 400;
        }
      }
    }
    
    .arch-simplorium-one {
      background-image: url("/Simplorium/assets/images/Hannah-Reding-1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 60vh;
    }
  }
  
  .container-about {
    min-height: 100vh;
    padding: 1.5em;
    
    .container-about-enclousure {
      line-height: 1.9em;
      .title-about {
        font-family: $font1;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: .4em;
      }

      .line {
        position: relative;
        padding-bottom: 1.5em;
        &::before {
          position: absolute;
          content: "";
          border: .01em solid $c0;
          width: 4em;
        }
      }

      .block-text-about {
        font-family: $font2;
        span {
          font-style: italic;
        }
      }
    }
  }
  
  .container-services {
    min-height: 100vh;
    padding: 1.5em;
    background-color: $c6;
    
    .container-services-enclousure {
      .title-services {
        font-family: $font1;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: .4em;
        color: $c5;
      }
      
      .line {
        position: relative;
        padding-bottom: 1.5em;
        &::before {
          position: absolute;
          content: "";
          border: .01em solid $c5;
          width: 4em;
        }
      }
      
      .container-specific-service {
        .topic-one,
        .topic-two,
        .topic-three {
          font-family: $font2;
          font-weight: 300;
          text-transform: uppercase;
          color: $c5;
          
          span {
            font-size: .9em;
            font-weight: 500;
            font-style: italic;
          }
        }
        
        .small-explain-text {
          font-family: $font2;
          font-weight: 200;
          margin: .2em 0 .3em 0;
          font-size: .9em;
          color: $c5;
        }
        
        .flex-image-1,
        .flex-image-2,
        .flex-image-3 {
          .service-photo-one,
          .service-photo-two,
          .service-photo-three {
            width: 17em;
            margin: .5em 0 1em 0;
            //center the image
            // display: block;
          }
        }
      }
    }
  }
  
  .container-our-team {
    min-height: 100vh;
    padding: 1.5em;
    .container-our-team-enclousure {
      .container-text-team {
        .title-team {
          font-family: $font1;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.5em;
          margin-bottom: .4em;
        }
        
        .line {
          position: relative;
          padding-bottom: 1.3em;
          &::before {
            position: absolute;
            content: "";
            border: .01em solid $c0;
            width: 4em;
          }
        }
        
        .text-team {
          font-family: $font2;
          font-weight: 300;
          margin-bottom: 1em;
          font-style: italic;
          font-size: .9em;
        }
      }
      
      .container-team {
        .container-info-team {
          .profile-pic {
            width: 12em;
          }
          .container-info-person {
            .name {}
            .ocuppation {}
          }
        }
      }
    }
  }
  
  .container-footer {
    min-height: 100vh;
    padding: 1.5em;
    background-color: $c6;
    border: 3px solid khaki;

    footer {
      color: $c5;
      .container-footer-enclousure {
        .container-text-footer {
          .question-text-footer {
            font-family: $font2;
            font-weight: 200;
            font-size: 1.1em;
            margin-bottom: 1em;
          }
        }
        
        form {
          display: flex;
          flex-direction: column;
          .text-forms {
            font-family: $font2;
            font-weight: 400;
            font-size: 1.1em;
            margin-bottom: 1em;
            letter-spacing: .01em;
          }
          
          #name {
            border: none;
            border-bottom: .01rem solid white;
            outline: none;
            background-color: transparent;
            color: $c5;
            font-family: $font2;
            font-weight: 200;
            font-size: 1.01em;
            margin-bottom: 1em;
          }
          
          #phone { 
            border: none;
            border-bottom: .01rem solid white;
            outline: none;
            background-color: transparent;
            color: $c5;
            font-family: $font2;
            font-weight: 200;
            font-size: 1.01em;
            margin-bottom: 1em;
          }

          #email { 
            border: none;
            border-bottom: .01rem solid white;
            outline: none;
            background-color: transparent;
            color: $c5;
            font-family: $font2;
            font-weight: 200;
            font-size: 1.01em;
            margin-bottom: 1.7em;
          }

          #button { 
            border: .01em solid $c5; 
            outline: none;
            background-color: transparent;
            color: $c5;
            font-family: $font2;
            font-weight: 200;
            margin-bottom: 1.5em;
            padding: .4em 1em .4em 1em;
            cursor: pointer;
            transition: background-color .5s, color .5s;

            &:hover {
              background-color: $c5;
              color: $c0;
            }
          }
        }
      }

      .line {
        position: relative;
          padding-bottom: 1.3em;
          &::before {
            position: absolute;
            content: "";
            border: .01em solid $c5;
            width: 15em;
          }
      }

      .container-footer-links {
        .container-footer-links {
          .container-logo-footer {
            .logo-company {}
          }

          .container-links {
            .footer-links-1 {
              li {
                a {}
              }
            }

            .footer-links-2 {
              li {
                a {}
              }
            }

            .footer-links-3 {
              li {
                a {}
              }
            }
          }
        }
      }
    }
  }
}