@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;900&family=Poppins:wght@100;200;300;400;600;900&display=swap");
/*CSS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  display: none;
}

/*VARIABLES*/
.container-general .container-navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  position: sticky;
  top: 0;
}
.container-general .container-navbar .logo-site #logo-company {
  width: 7em;
}
.container-general .container-navbar .container-menu {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-self: center;
}
.container-general .container-navbar .container-menu #open-menu {
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.container-general .container-navbar .container-menu .menu #close-menu {
  color: rgba(34, 39, 37, 0.8117647059);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.container-general .container-navbar .container-menu .menu nav #menu-options .links a {
  color: #012113;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.container-general .container-hero-section {
  min-height: 84.7vh;
}
.container-general .container-hero-section .container-texts .text-two {
  padding: 2em 2em 0 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 1.1em;
  text-transform: capitalize;
  width: 19em;
}
.container-general .container-hero-section .container-texts .text-two span {
  font-style: italic;
  font-weight: 400;
}
.container-general .container-hero-section .arch-simplorium-one {
  background-image: url("/Simplorium/assets/images/Hannah-Reding-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}
.container-general .container-about {
  min-height: 100vh;
  padding: 1.5em;
}
.container-general .container-about .container-about-enclousure {
  line-height: 1.9em;
}
.container-general .container-about .container-about-enclousure .title-about {
  font-family: "Noto Serif KR", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.container-general .container-about .container-about-enclousure .line {
  position: relative;
  padding-bottom: 1.5em;
}
.container-general .container-about .container-about-enclousure .line::before {
  position: absolute;
  content: "";
  border: 0.01em solid black;
  width: 4em;
}
.container-general .container-about .container-about-enclousure .block-text-about {
  font-family: "Poppins", sans-serif;
}
.container-general .container-about .container-about-enclousure .block-text-about span {
  font-style: italic;
}
.container-general .container-services {
  min-height: 100vh;
  padding: 1.5em;
  border: 3px solid khaki;
}
.container-general .container-services .container-services-enclousure .title-services {
  font-family: "Noto Serif KR", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.container-general .container-services .container-services-enclousure .line {
  position: relative;
  padding-bottom: 1.5em;
}
.container-general .container-services .container-services-enclousure .line::before {
  position: absolute;
  content: "";
  border: 0.01em solid black;
  width: 4em;
}
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-1 .service-photo-one {
  width: 10em;
}/*# sourceMappingURL=style.css.map */