@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;900&family=Poppins:wght@100;200;300;400;600;900&display=swap");
/*CSS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.hidden {
  display: none;
}

/*VARIABLES*/
.container-general .container-navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  position: sticky;
  top: 0;
}
.container-general .container-navbar .logo-site #logo-company {
  width: 7em;
}
.container-general .container-navbar .container-menu {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-self: center;
}
.container-general .container-navbar .container-menu #open-menu {
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.container-general .container-navbar .container-menu .menu #close-menu {
  color: rgba(34, 39, 37, 0.8117647059);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.container-general .container-navbar .container-menu .menu nav #menu-options .links a {
  color: #012113;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.container-general .container-hero-section {
  min-height: 84.7vh;
}
.container-general .container-hero-section .container-texts .text-two {
  padding: 2em 2em 0 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 1.1em;
  text-transform: capitalize;
  width: 19em;
}
.container-general .container-hero-section .container-texts .text-two span {
  font-style: italic;
  font-weight: 400;
}
.container-general .container-hero-section .arch-simplorium-one {
  background-image: url("/Simplorium/assets/images/Hannah-Reding-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}
.container-general .container-about {
  min-height: 100vh;
  padding: 1.5em;
}
.container-general .container-about .container-about-enclousure {
  line-height: 1.9em;
}
.container-general .container-about .container-about-enclousure .title-about {
  font-family: "Noto Serif KR", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.container-general .container-about .container-about-enclousure .line {
  position: relative;
  padding-bottom: 1.5em;
}
.container-general .container-about .container-about-enclousure .line::before {
  position: absolute;
  content: "";
  border: 0.01em solid black;
  width: 4em;
}
.container-general .container-about .container-about-enclousure .block-text-about {
  font-family: "Poppins", sans-serif;
}
.container-general .container-about .container-about-enclousure .block-text-about span {
  font-style: italic;
}
.container-general .container-services {
  min-height: 100vh;
  padding: 1.5em;
  background-color: #101010;
}
.container-general .container-services .container-services-enclousure .title-services {
  font-family: "Noto Serif KR", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.4em;
  color: #F7F7F2;
}
.container-general .container-services .container-services-enclousure .line {
  position: relative;
  padding-bottom: 1.5em;
}
.container-general .container-services .container-services-enclousure .line::before {
  position: absolute;
  content: "";
  border: 0.01em solid #F7F7F2;
  width: 4em;
}
.container-general .container-services .container-services-enclousure .container-specific-service .topic-one,
.container-general .container-services .container-services-enclousure .container-specific-service .topic-two,
.container-general .container-services .container-services-enclousure .container-specific-service .topic-three {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #F7F7F2;
}
.container-general .container-services .container-services-enclousure .container-specific-service .topic-one span,
.container-general .container-services .container-services-enclousure .container-specific-service .topic-two span,
.container-general .container-services .container-services-enclousure .container-specific-service .topic-three span {
  font-size: 0.9em;
  font-weight: 500;
  font-style: italic;
}
.container-general .container-services .container-services-enclousure .container-specific-service .small-explain-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin: 0.2em 0 0.3em 0;
  font-size: 0.9em;
  color: #F7F7F2;
}
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-1 .service-photo-one,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-1 .service-photo-two,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-1 .service-photo-three,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-2 .service-photo-one,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-2 .service-photo-two,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-2 .service-photo-three,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-3 .service-photo-one,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-3 .service-photo-two,
.container-general .container-services .container-services-enclousure .container-specific-service .flex-image-3 .service-photo-three {
  width: 17em;
  margin: 0.5em 0 1em 0;
}
.container-general .container-our-team {
  min-height: 100vh;
  padding: 1.5em;
}
.container-general .container-our-team .container-our-team-enclousure .container-text-team .title-team {
  font-family: "Noto Serif KR", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
.container-general .container-our-team .container-our-team-enclousure .container-text-team .line {
  position: relative;
  padding-bottom: 1.3em;
}
.container-general .container-our-team .container-our-team-enclousure .container-text-team .line::before {
  position: absolute;
  content: "";
  border: 0.01em solid black;
  width: 4em;
}
.container-general .container-our-team .container-our-team-enclousure .container-text-team .text-team {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 0.9em;
}
.container-general .container-our-team .container-our-team-enclousure .container-team .container-info-team .profile-pic {
  width: 12em;
}
.container-general .container-footer {
  min-height: 100vh;
  padding: 1.5em;
  background-color: #101010;
  border: 3px solid khaki;
}
.container-general .container-footer footer {
  color: #F7F7F2;
}
.container-general .container-footer footer .container-footer-enclousure .container-text-footer .question-text-footer {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.container-general .container-footer footer .container-footer-enclousure form {
  display: flex;
  flex-direction: column;
}
.container-general .container-footer footer .container-footer-enclousure form .text-forms {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 1em;
  letter-spacing: 0.01em;
}
.container-general .container-footer footer .container-footer-enclousure form #name {
  border: none;
  border-bottom: 0.01rem solid white;
  outline: none;
  background-color: transparent;
  color: #F7F7F2;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.01em;
  margin-bottom: 1em;
}
.container-general .container-footer footer .container-footer-enclousure form #phone {
  border: none;
  border-bottom: 0.01rem solid white;
  outline: none;
  background-color: transparent;
  color: #F7F7F2;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.01em;
  margin-bottom: 1em;
}
.container-general .container-footer footer .container-footer-enclousure form #email {
  border: none;
  border-bottom: 0.01rem solid white;
  outline: none;
  background-color: transparent;
  color: #F7F7F2;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.01em;
  margin-bottom: 1.7em;
}
.container-general .container-footer footer .container-footer-enclousure form #button {
  border: 0.01em solid #F7F7F2;
  outline: none;
  background-color: transparent;
  color: #F7F7F2;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 1.5em;
  padding: 0.4em 1em 0.4em 1em;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.container-general .container-footer footer .container-footer-enclousure form #button:hover {
  background-color: #F7F7F2;
  color: black;
}
.container-general .container-footer footer .line {
  position: relative;
  padding-bottom: 1.3em;
}
.container-general .container-footer footer .line::before {
  position: absolute;
  content: "";
  border: 0.01em solid #F7F7F2;
  width: 15em;
}/*# sourceMappingURL=style.css.map */